@page "/signup"
@rendermode InteractiveServer
@using ReleaseNotesProject.Components.Layout
@layout LoginLayout
@inject NavigationManager NavigationManager

<PageTitle>Sign Up</PageTitle>


<div>

    <!-- signup form -->
    <EditForm Model=@User FormName="signupForm" OnSubmit="HandleSignUp">
        <div><br></div>



        <div style="width:50%; float:left; margin-right: 10px;" class="card-body">

            <div><h5>Sign Up</h5></div>
            <!-- user input -->
            <div class="form-group">
                <label for="email">
                    Email address
                </label>
                <InputText id="email" class="form-control" @bind-Value="currentEmail" />
            </div>
            <!-- password input -->
            <div class="form-group">
                <label for="password">Password</label>
                <InputText type="password" id="pass" class="form-control" @bind-Value="currentPass" />
            </div>

            <div class="form-group">
                <label for="name">
                    Full Name
                </label>
                <InputText id="name" class="form-control" @bind-Value="currentName" />
            </div>

            <div class="form-group">
                <label for="admincode">
                    Admin Code
                </label>
                <InputText id="admincode" class="form-control" @bind-Value="currentToken" />
            </div>

            <div><br></div>

            <div>
                <button type="submit" class="btn btn-primary" value="save">
                    <span>Sign Up</span>
                </button>

                <button type="reset" class="btn btn-primary" value="clear">
                    <span>Clear</span>
                </button>

            </div>

            <div><br></div>



            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="alert alert-danger mt-3">
                    @errorMessage
                </div>
            }

        </div>
    </EditForm>









</div>


@code {

    private string errorMessage = string.Empty;
    Users User = new Users();
    //new user info vars
    private string currentPass = string.Empty;
    private string currentEmail = string.Empty;
    private string currentName = string.Empty;
    private string currentToken = string.Empty;
    //hardcoded validation token
    public string validationToken = "adminToken";
    //validation bools
    private bool isValidUser = false;
    private bool isValidPass = false;
    private bool isValidName = false;
    private bool isValidToken = false;

    private async Task HandleSignUp()
    {



        if (!string.IsNullOrEmpty(currentPass) && !string.IsNullOrEmpty(currentEmail) && !string.IsNullOrEmpty(currentName) && currentToken == validationToken)
        {
            isValidPass = true;
            isValidUser = true;
            isValidName = true;
            isValidToken = true;




        }



        if (isValidPass && isValidUser && isValidName && isValidToken)
        {

            Users.reloadUsers();
            Connector.InsertNewUser(currentEmail, currentPass, currentName);
            Users.currentUser = new Users(currentEmail, currentPass, currentName);
            // Navigate to landing page after signup
           
            NavigationManager.NavigateTo("/viewrecords");
        }
        else
        {
            //set signup error
            errorMessage = $"Invalid signup values";

        }



    }



}
